.sideblock:hover {
  background-color: rgba(50, 50, 50, 1);
}

.navblock:hover {
  color: #ef6480;
}

.dropblock:hover {
  background-color: rgba(25, 25, 25, 0.5);
}

.myclass {
  padding: 0 !important;
}
.sidenav-overlay {
  height: 0px;
  width: 0px;
}
