@media screen and (max-width: 600px) {
  .progressin {
    flex: 2;
    height: 18px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(25, 25, 25, 0.5);
    margin: 3px 25px 20px 30px;
  }
}
@media screen and (min-width: 601px) {
  .progressin {
    flex: 2;
    height: 18px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(25, 25, 25, 0.5);
    margin: 13px 0px 20px 100px;
  }
}

.progress-donein {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(25, 25, 25, 0.5),
    rgba(25, 25, 25, 1)
  );
  box-shadow: 0 3px 3px -5px rgba(25, 25, 25, 0.5),
    0 2px 5px rgba(25, 25, 25, 0.5);
  border-radius: 20px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  transition: 1s ease;
}

.Month {
  display: flex;
  padding: 21px 0px 0px 40px;
  font-weight: bold;
  font-style: 15px;
}
